:root {
  --RowHeight: 170px;
  --TwoHighInnerHeight: 248px;
  --TwoHighChartMaxHeight: 198px;
}

* {
  box-sizing: border-box;
  font-family: sans-serif;
}

body {
  margin: 0;
  padding: 0;
  background-color: #F5F5F8;
}
  
.header {
  background-color: #383874;
  height: 180px;
  padding: 0 40px 60px;
  margin-bottom: -60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.title {
  display: flex;
  align-items: center;
}

.title img {
  width: 72px;
  margin-right: 50px;
}

.title h2 {
  font-size: 40px;
  font-weight: bold;
  color: white;
}



.dashboard {
  padding: 0 30px;
}

.grid-stack-item-content {
  background-color: white;
  border: 2px solid #E7E7EA;
  border-radius: 10px;
  padding: 34px;
  font-family: sans-serif;
  color: #383874;
  overflow: hidden !important;
}

.expand-toggle {
  width: 15px;
  height: 15px;
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 1;
  cursor: pointer;
  background-image: url('../assets/images/Maximize.svg');
  background-size: 100%;
  transition: .25s;
  opacity: 0.8;
}
.expand-toggle:hover { opacity: 1; }
.expand-toggle.active { background-image: url('../assets/images/Minimize.svg'); }


.above-fold {
  height: 100%;
  max-height: var(--TwoHighInnerHeight);
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.grid-item-info {
  height: 50px;
  flex: 0 0 50px;
}
.grid-item-title {
  font-size: 24px;
  font-weight: 500;
  margin: 0;
}
.grid-item-desc {
  font-size: 14px;
  margin: 5px 0 0;
  font-weight: 300;
}

.below-fold {
  margin-top: 34px;
  border-top: 1px dashed #ddd;
  max-height: calc(var(--TwoHighInnerHeight) + 34px);
  overflow-y: auto;
}

.breakdown h3 {
  margin: 0;
  font-weight: 500;
  font-size: 18px;
  line-height: 18px;
}

.breakdown ul {
  margin: 0;
  padding: 0;
}

.breakdown li {
  display: flex;
  flex-direction: column;
}

.breakdown ul > li > ul > li {
  padding: 10px 0;
}

.breakdown ul > li > ul > li:not(:first-child) {
  margin-left: 25px;
  border-top: 1px solid #eee;
}

.breakdown ul > li > ul > li:not(:first-child) h3 {
  font-size: 16px;
  font-weight: 300;
}

.breakdown .group {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.breakdown .group-name {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.color-label {
  display: inline-block;
  width: 15px;
  height: 15px;
  border: 1px solid #eee;
  margin-right: 10px;
}

.b {
  background-color: #1769CE; }

.p {
  background-color: #7F09D4; }

.c {
  background-color: #57A8D7; }
    
.o {
  background-color: #FE9313; }



.chart-container {
  max-height: var(--TwoHighChartMaxHeight);
  position: relative;
  height: var(--TwoHighChartMaxHeight);
  width: 100%;
}

.chart-label {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.current {
  font-size: 30px;
  margin: 0 0 5px;
}

.goal-met {
  color: #0BB22E;
}

.chart-label p {
  text-transform: uppercase;
  font-weight: 600;
  margin: 0;
}

.half-tile-content {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
}

.half-tile .current {
  margin: 0;
}

.half-tile-content p {
  font-weight: 600;
  margin: 0;
}